body
{
  color: black;
  background-color: rgb(255, 255, 255);
  font-family: "Fredoka", sans-serif;
  margin: 0;

}

h1
{
   font-family: "Fredoka", sans-serif;
}

/* header */
.cloth
{
  display: flex;
  text-align: center;
  align-items: center;
  gap: 8px;
  font-size: 20px;

}

@media (min-width : 600px)
{
  .cloth{
    margin-left: 20px;
  }
}

.logo
{
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 5px;
  aspect-ratio: 1/1;
  align-items: center;
  display: flex;
  font-family: "Fredoka", sans-serif;
}

.navigation
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(218, 212, 212, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1;
  
}

.navigation ul
{
  display: flex;
  justify-content: center;
  gap: 21px;
  margin-right: 10px;
}

.navigation li
{
  list-style: none;
}


.navi
{
  text-decoration: none;
}

@media (max-width : 600px)
{
  .navigation ul 
  {
    display: none;
  }
}

@media (max-width : 600px)
{
  .name
  {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Side Bar */
.sidebar {
  background-color: rgba(218, 212, 212, 0.7);
  backdrop-filter: blur(2px);
  width: 300px;           
  height: 100vh;         
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 0;
}

.sidebar ul {
  display: flex;
  flex-direction: column; 
  gap: 130px;              
  padding: 0;
  margin: 0;
  text-align: center;
  margin-left: 100px;
  

}

.sidebar li {
  list-style: none;
  padding: 10px;
  transition: 0.7s ease;
  align-items: center;
  
  
}

.sidebar li:hover
{
  display: flex;
  background-color: rgba(255, 255, 255, 0.767) ;
  padding: 10px;
  border-radius: 5px;
  transform: scale(1.1);
  align-self: center;
  transition: 0.7s ease;
  
}


.sidebar a {
  text-decoration: none;
  color: rgb(0, 0, 0);         
}

#menu-btn
{
  border: none;
  position: fixed;
  z-index: 2;
  background-color: transparent;
  padding: 20px;
  
}

@media (max-width: 600px) {
    #menu-btn {
        display: block;
        
    }
    
    .sidebar {
        transform: translateX(-100%);
        transition: .9s ease;
    }

    .sidebar.active {
        transform: translateX(0);
        
    }
}

@media (min-width : 600px){
  .sidebar
    {
      display: none;
    }
  #menu-btn
  {
    display: none;
  }
}